bin/antcn
bin/antrcv_multi
bin/autoftp
bin/cheks
bin/inject_snap
bin/stalloc
bin/sterp
bin/stqkr
Makefile.orig
antcn/-l
antcn/-l100
antcn/-l120
antcn/1st_try_antcn.c
antcn/VLBISend.log
antcn/VLBIsend.py_20130918
antcn/VLBIsend.py_20140226
antcn/VLBIsend.py_20140416
antcn/VLBIsend.py_20141117
antcn/VLBIsend.py_20170310
antcn/VLBIsend.py_S14mm_033
antcn/VLBIsend.py_S14mm_161
antcn/VLBIsend.py_S197
antcn/VLBIsend.py_beam
antcn/antcn.c.now
antcn/antcn.c_20111212
antcn/antcn.o
antcn/new_VLBIsend.py_20171201
antcn/new_VLBIsend.py_20180416
antcn/new_VLBIsend.py_20190218
antcn/new_VLBIsend.py_20200728
antcn/new_VLBIsend.py_INSTCFG
antcn/rad2str.o
antrcv/antrcv_multi.c_20180601
antrcv/antrcv_multi.o
antrcv/askvax.c.20130529
antrcv/askvax.c.ps
antrcv/askvax_Makefile
antrcv/offsource.txt
antrcv/offsource2.txt
antrcv/onsource.txt
antrcv/pid
cheks/cheks.o
eremotectrl/
extra/tcpserver
extra/udpserver
hpcounter/bad_hpcounter.c
hpcounter/hpcounter.x
include/stcom.h_mk4
inject_snap/inject_snap.o
make.log
misc/
rxvt/
rxvt_2005/
rxvt_2011/
scripts/
stalloc/stalloc.o
sterp/get_err.o
sterp/sterp.o
stlib/setup_st.o
stlib/stlib.a
stlib/stm_util.o
stqkr/a.ps
stqkr/effcal.o
stqkr/efflo.c.20111212
stqkr/efflo.c.org
stqkr/efflo.o
stqkr/effpcal.o
stqkr/effrx.o
stqkr/effwx.c_20170504
stqkr/effwx.c_azel
stqkr/effwx.o
stqkr/getgps.c.orig
stqkr/getgps.o
stqkr/stqkr.c_20130219
stqkr/stqkr.c_new
stqkr/stqkr.f
stqkr/stqkr.o
stqkr/tmp.hp
tmp.hp
